body {
    background-color: #fafafa;
    padding: 1em;
}

.message {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 2em;
    position: relative;
    left: -1000px;
    line-height: 1.5em;
    display: inline-flex;
}

.message::before {
    float: left;
    content: "";
    width: 1em;
    border-top-left-radius: 2em;
    border-bottom-left-radius: 2em;
    background-color: rgb(230, 230, 230);
}

.message::after {
    float: right;
    content: "";
    width: 1em;
    border-top-right-radius: 2em;
    border-bottom-right-radius: 2em;
    background-color: rgb(230, 230, 230);
}

.message p {
    margin: 0 -0.1em;
    padding: 0.2em 0.1em;
    background-color: rgb(230, 230, 230);
}

/* Smaller screens */

@media (max-width: 800px), (max-height: 800px) { 
    .message {
        font-size: 1.75em;
    }

}

@media (max-width: 750px), (max-height: 700px) { 
    .message {
        font-size: 1.5em;
    }

}

@media (max-width: 650px), (max-height: 620px) { 
    .message {
        font-size: 1.25em;

    }

}

@media (max-width: 550px), (max-height: 520px) { 
    .message {
        font-size: 1em;
    }

}

@media (max-width: 450px), (max-height: 420px) { 
    .message {
        font-size: 0.85em;
    }

}