body {
    background-color: #fafafa;
    padding: 1em;
}

.message {
    background-color: rgb(230, 230, 230);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 2em;
    position: relative;
    left: -1000px;
    margin: 0.05em;
    line-height: 1.5em;
    display: inline-block;
}

/* border-top-right-radius: 3em;
    border-bottom-right-radius: 3em; */

.message p {
    margin: 0.5em;
}

/* .message.top {
    border-top-left-radius: 3em;
}

.message.bottom {
    border-bottom-left-radius: 3em;
} */

.animate {
    animation: appear 0.5s cubic-bezier(.75,-0.5,0.5,1.75);
}

/* Smaller screens */

@media (max-width: 800px), (max-height: 800px) { 
    .message {
        font-size: 1.75em;
    }

}

@media (max-width: 700px), (max-height: 700px) { 
    .message {
        font-size: 1.5em;
    }

}

@media (max-width: 600px), (max-height: 620px) { 
    .message {
        font-size: 1.25em;

    }

}

@media (max-width: 500px), (max-height: 520px) { 
    .message {
        font-size: 1em;
    }

}

@media (max-width: 400px), (max-height: 420px) { 
    .message {
        font-size: 0.85em;
    }

}